* {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

#root::after {
  width: 100vw;
  height: 100vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("image/mystery-box-fundraiser-scaled.jpg");
  background-size: cover;
  opacity: 0.85;
  z-index: -1;
}

.FortunePouch {
  width: 14.5vw;
  height: 100px;
  background-image: url("image/9533b5.jpg");
  background-size: 17.5vw 138px;
  border: 2px solid rgb(80, 80, 80);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pouch {
  width: 14.5vw;
  height: 100px;
  background-color: #888;
  background-image: url("image/ticket-468417164-612x612.jpg");
  background-size: 15.5vw 100px;
  border: 2px solid rgb(80, 80, 80);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hidden {
  display: none;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: fixed;
  top: 20%;
  left: 25%;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 2%;
  width: 50vw;
  height: 60vh;
  animation-name: modalOpen;
  animation-duration: 2s;
}

.textSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 60vh;
}

  /* 모달 애니메이션 */
  @keyframes modalOpen {
    from {opacity: 0}
    to {opacity: 1}
  }

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
}

#container {
  display: flex;
  margin: 20px;
}

.airBox {
  width: 35px;
  height: 100px;
}

.Question-Mark {
  background-image: url("image/question-mark2.jpg");
  background-size: 56vw 50vh;
  width: 50vw;
  height: 50vh;
}

.random-box {
  background-image: url("image/randomBox.jpg");
  background-size: 37.5vw 55vh;
  width: 37vw;
  height: 55vh;
}